
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.html5-sortable .over{
  border: 2px dashed #d2322d;
}

.html5-sortable .handle{
  cursor: pointer;
}

.html5-sortable .moving{
  border: 2px solid #777;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.column {
  height: 160px;
  width: 160px;
  float: left;
  border: 2px solid #666666;
  background-color: #ccc;
  margin: 5px 5px 0px 0px;
  text-align: center;
  cursor: move;
}
.column header {
  color: #fff;
  text-shadow: #000 0 1px;
  box-shadow: 5px;
  padding: 5px;
  background: #444;
  border-bottom: 1px solid #ddd;
}

