<div class="container">
  <h1>Sortable HTML5</h1>
  <a class="btn {{sortable_mode == 'on' ? 'btn-success': 'btn-warning'}}" 
  ng-click=" sortable_mode = (sortable_mode == 'on') ? 'off' : 'on' "
  >Toggle sortable({{sortable_mode}})</a>
  <div class="row">
    <div class=" col-md-8">
      <h3>Sortable group div with options</h3>
      <div class="columns"  
        html-sortable=" sortable_mode == 'on' ? sortable_option : 'destroy' " 
        ng-model="list">
        <div class="column" ng-repeat="item in list"  >
          <header>{{item.letter}}</header>
          <p class="handle">CLICK ME TO DRAG</p>
          <div class="btn-group">
            <button type="button" ng-click="append(item)" class="btn btn-default">Append</button>
            <button type="button" ng-click="delete(list,item)" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Sortable list is connected to left side</h3>
      <ul class="nav nav-stacked"
       html-sortable=" sortable_mode == 'on' ? sortable_ul_option : 'destroy' " 
       ng-model="list" >
        <li ng-repeat="item in list" >
          <a>
            <i class="glyphicon glyphicon-th-large handle" title="Click me to start drag"></i>
            &nbsp;{{item.letter}}
            </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="container">
    <h3>Cross dropping</h3>
    <div class="row">

      <div class="col-md-3" ng-repeat="(group_id, list) in groups">
        <ul class="nav nav-stacked" html-sortable="sortable_cross_option" ng-model="list" 
        ng-extra-sortable="group_id" >
          <p class="droppable" ng-if="list.length  == 0">Empty list</p>
          <li ng-repeat="letter in list" >
            <a>{{letter}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<div class="container">
  <h3>Sortable without options and doesn't affect by sortable mode</h3>
  <div class="columns second" html-sortable="" ng-model="list2">
    <div class="column" ng-repeat="item in list2"  >
      <header>{{item.title}}</header>
      <p>{{item.content}}</p>
    </div>
  </div>
</div>
